assets/
bin/
libraries/
lightspeed-cache/
logs/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
structurize/
version/
webcache2/
Xaero*/

launcher*.*
options.txt
updateLog.txt
updateSourceCache.json
usercache.json
usernamecache.json
WailaErrorOutput.txt