assets/
bin/
defaultconfigs/
libraries/
logs/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
structurize/
versions/
webcache2/
Xaero*/

launcher*.*
options.txt
updateLog.txt
updateSourceCache.json
usercache.json
usernamecache.json